modules = ["dotnet-7.0", "dotnet-8.0"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "ConsoleApp"

[[workflows.workflow]]
name = "ConsoleApp"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ConsoleApp1 && dotnet run"

[workflows.workflow.metadata]
outputType = "console"
